<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>jenkins-slave</string>
  <key>ProgramArguments</key>
  <array>
    <string>java</string>
    <string>-jar</string>
    <string>slave.jar</string>
    <string>-jnlpUrl</string>
    <string>http://stidhcp-1-064.epfl.ch:8080/computer/osx/slave-agent.jnlp</string>
    <string>-jnlpCredentials</string>
    <string>jenkins:changeme</string>
  </array>
  <key>KeepAlive</key>
  <true/>
</dict>
</plist>

